.fixedNavBar {  
  background-color: orange;  
  height: 100px;  
  width: 100%;  
  position: fixed;  
  top: 0;  
  text-align: center;
}

.section1 {  
  background-color: red;  
  height: 300px;  
  text-align: center;
  text-color: white;
}

.section2 {  
  background-color: black;  
  height: 300px;  
  text-align: center;
}

.section3 {  
  background-color: indigo;     
  height: 300px;  
  text-align: center;  
  margin: 0;}

.section4 {  
  background-color: pink;  
  height: 300px;  
  text-align: center;  
  margin: 0;
}
